<h1 class="signatures"> List Signers</h1>
<br>
<br>
<br>

    <div class="signatures">

        {{#listNames}}
            <li>{{firstname}}  {{lastname}} {{age}} <a class="city" href="/signatures/{{city}}">{{city}}</a> </li>

        {{/listNames}}

    </div>
