<h1 class="signatures"> List Signers</h1>

    <div class="signatures">

        {{# listNames}}

            <li>{{firstname}}  {{lastname}} {{age}} <a href="/signatures/{{city}}">{{city}}</a> </li>

        {{/listNames}}

    </div>
